/*
* @Author: yangchao
* @Date:   2017-08-14 14:08:05
* @Last Modified by:   yangchao
* @Last Modified time: 2017-08-14 18:43:49
*/
*{ 
 margin: 0; 
 padding: 0; 
} 
#wrapper{ 
 position: relative; 
 width: 1226px; 
 margin: 50px auto; 
 border: 1px solid #000;
 overflow: hidden; 
} 
#pointer{ 
 clear: both; 
 position: absolute; 
 right: 500px; 
 bottom: 15px; 
 width: 180px; 
 height: 2px; 
} 
#pointer span{ 
 display: block; 
 box-sizing: border-box; 
 float: left; 
 width: 15px; 
 height: 15px; 
 margin-right: 10px; 
 border-radius: 50%; 
 background:red; 
 opacity: .5; 
} 
#pointer .active{ 
 opacity: .8; 
 -webkit-opacity: .8; 
 -moz-opacity: .8; 
 filter:alpha(opacity=80); 
} 
#box{ 
 position: relative; 
 width: 3600px; 
 clear: both; 
} 
img{ 
 display: block; 
 float: left; 
 width: 1226px; 
 height: 460px; 
}